{% extends 'base.html' %}

{% block head %}
<meta charset="utf-8">
<link rel='stylesheet' href="{{ url_for('static', filename='css/game_page.css') }}">
{% endblock %}

{% block body %}
<canvas id="c" width="800" height="600"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>

<div id="dead_form">
    <p>You Died</p>
    <form>
        <button type="submit" id="lobby_button" onclick="redirect()">Return To Lobby</button>
        <button type="submit" id="respawn_button" onclick="respawn()">Respawn</button>
    </form>
</div>

<script src="{{ url_for('static', filename='js/game_script.js') }}"></script>
{% endblock %}